@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css or src/styles/tailwind.css */

/* Custom scrollbar styles */
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  